.mySwiper1 .swiper {
    width: 362px;
  }
  
  .mySwiper1 .swiper-slide {
    background-position: center;
    background-size: cover;
    box-shadow: none !important;
    margin-bottom: 48px;
  }
  
  .mySwiper1 .swiper-slide img {
    display: block;
    width: 100%;
  }
  .mySwiper1 .swiper-pagination {
      bottom: 10px; /* Đặt khoảng cách từ dưới lên */
      left: 0;
      right: 0;
      text-align: center; /* Canh giữa */
  }
  
  .mySwiper1 .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background: hsla(0, 1%, 31%, 0.5); /* Màu nền của bullet */
    opacity: 1; /* Độ mờ của bullet */
    border-radius: 50%; /* Làm tròn bullet */
    margin: 0 5px; /* Khoảng cách giữa các bullet */
  }
  
 .mySwiper1 .swiper-pagination-bullet-active {
    border-radius: 10px;
    width: 72px;
    background: #F48026; /* Màu nền của bullet khi active */
    opacity: 1; /* Độ mờ khi bullet active */
  }