.classborder::after
{
  border-bottom: 2px solid black; 
  /* position: absolute;
  left: 0;  right: 0 ;
  height: 1px; */
}
#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

.mySwiper4 .swiper {
  width: 100%;
  height: 100%;
}

.mySwiper4 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* scale: 1.2; */
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
}

.mySwiper4 .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Hoặc sử dụng 'contain' */
  transition: transform 0.3s ease; 
}
.mySwiper4 .swiper-pagination-bullet {
  display: none;
}

.mySwiper4 .swiper-slide {
  width: 60%;
}

.mySwiper4 .swiper-slide:nth-child(2n) {
  width: 60%;
}

.mySwiper4 .swiper-slide:nth-child(3n) {
  width: 60%;
}

.mySwiper4 .swiper-slide-active img {
  transform: scaleY(1.2); 
}